# Все текстовые файлы использовать с авто-нормализацией
* text=auto

# Для текстовых отчётов явно разрешить CRLF (если работаешь на Windows)
PQ_PBI_Excel/3Советы_по_визуализации_в_Excel/ready_reports.txt text eol=crlf

# Или, наоборот, зафиксировать LF (чаще правильнее для кроссплатформенности)
# PQ_PBI_Excel/3Советы_по_визуализации_в_Excel/ready_reports.txt text eol=lf